@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  /* Automatic computation of border around primary / danger buttons */
  --opaque-button-border-intensity: -8; /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 209 23% 28%;
  --foreground: 0 0% 100%;
  --border: 201 30% 91%;

  --card: 180 7% 97%;
  --card-foreground: 210 25% 8%;
  --card-border: 200 15% 93%;

  --sidebar: 180 7% 97%;
  --sidebar-foreground: 210 25% 8%;
  --sidebar-border: 205 25% 91%;
  --sidebar-primary: 204 88% 53%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 212 51% 93%;
  --sidebar-accent-foreground: 204 88% 53%;
  --sidebar-ring: 203 89% 53%;

  --popover: 0 0% 100%;
  --popover-foreground: 210 25% 8%;
  --popover-border: 200 20% 88%;

  --primary: 204 88% 53%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 25% 8%;
  --secondary-foreground: 0 0% 100%;

  --muted: 210 91% 86%;
  --muted-foreground: 210 26% 54%;

  --accent: 212 51% 93%;
  --accent-foreground: 204 88% 53%;

  --destructive: 356 91% 54%;
  --destructive-foreground: 0 0% 100%;

  --input: 200 23% 97%;
  --ring: 203 89% 53%;

  --chart-1: 204 88% 53%;
  --chart-2: 160 100% 36%;
  --chart-3: 42 93% 56%;
  --chart-4: 147 79% 42%;
  --chart-5: 341 75% 51%;

  --font-sans: Inter, DM Sans, Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 1px 2px -1px rgba(0, 0, 0, 0.04);
  --shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px -1px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.10), 0px 3px 6px -2px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 10px 20px -4px rgba(0, 0, 0, 0.12), 0px 4px 8px -2px rgba(0, 0, 0, 0.08);
  --shadow-xl: 0px 20px 30px -6px rgba(0, 0, 0, 0.15), 0px 8px 12px -4px rgba(0, 0, 0, 0.10);
  --shadow-2xl: 0px 30px 50px -10px rgba(0, 0, 0, 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Automatically computed borders - intensity can be controlled by the user by the --opaque-button-border-intensity setting */

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 0% 0%;
  --foreground: 200 7% 91%;
  --border: 210 5% 15%;

  --card: 228 10% 10%;
  --card-foreground: 0 0% 85%;
  --card-border: 220 8% 13%;

  --sidebar: 228 10% 10%;
  --sidebar-foreground: 0 0% 85%;
  --sidebar-border: 206 16% 26%;
  --sidebar-primary: 203 89% 53%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 206 70% 8%;
  --sidebar-accent-foreground: 204 87% 52%;
  --sidebar-ring: 203 89% 53%;

  --popover: 0 0% 0%;
  --popover-foreground: 200 7% 91%;
  --popover-border: 210 8% 8%;

  --primary: 204 87% 52%;
  --primary-foreground: 0 0% 100%;

  --secondary: 195 15% 95%;
  --secondary-foreground: 210 25% 8%;

  --muted: 0 0% 9%;
  --muted-foreground: 210 4% 46%;

  --accent: 206 70% 8%;
  --accent-foreground: 204 87% 52%;

  --destructive: 356 91% 54%;
  --destructive-foreground: 0 0% 100%;

  --input: 208 28% 18%;
  --ring: 203 89% 53%;

  --chart-1: 204 88% 53%;
  --chart-2: 160 100% 36%;
  --chart-3: 42 93% 56%;
  --chart-4: 147 79% 42%;
  --chart-5: 341 75% 51%;

  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.40);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.35), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
  --shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.45), 0px 2px 4px -1px rgba(0, 0, 0, 0.35);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.50), 0px 3px 6px -2px rgba(0, 0, 0, 0.40);
  --shadow-lg: 0px 10px 20px -4px rgba(0, 0, 0, 0.55), 0px 4px 8px -2px rgba(0, 0, 0, 0.45);
  --shadow-xl: 0px 20px 30px -6px rgba(0, 0, 0, 0.60), 0px 8px 12px -4px rgba(0, 0, 0, 0.50);
  --shadow-2xl: 0px 30px 50px -10px rgba(0, 0, 0, 0.70);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/**
 * Using the elevate system.
 * Automatic contrast adjustment.
 *
 * <element className="hover-elevate" />
 * <element className="active-elevate-2" />
 *
 * // Using the tailwind utility when a data attribute is "on"
 * <element className="toggle-elevate data-[state=on]:toggle-elevated" />
 * // Or manually controlling the toggle state
 * <element className="toggle-elevate toggle-elevated" />
 *
 * Elevation systems have to handle many states.
 * - not-hovered, vs. hovered vs. active  (three mutually exclusive states)
 * - toggled or not
 * - focused or not (this is not handled with these utilities)
 *
 * Even without handling focused or not, this is six possible combinations that
 * need to be distinguished from eachother visually.
 */
@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  /* .no-default-hover-elevate/no-default-active-elevate is an escape hatch so consumers of
   * buttons/badges can remove the automatic brightness adjustment on interactions
   * and program their own. */
  .no-default-hover-elevate {}

  .no-default-active-elevate {}


  /**
   * Toggleable backgrounds go behind the content. Hoverable/active goes on top.
   * This way they can stack/compound. Both will overlap the parent's borders!
   * So borders will be automatically adjusted both on toggle, and hover/active,
   * and they will be compounded.
   */
  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: -1;
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.toggle-elevate::before {
    inset: -1px;
  }

  /* Does not work on elements with overflow:hidden! */
  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: 999;
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}